@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #FF0000;
    --secondary-color: #020203;
    --third-color: #FBFBFB;
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    width: 100%;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-right: 5.69rem;
    padding-left: 1.75rem;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    height: 8.89vh;
  }

  .logo img {
    height: 5.95vh;
    width: auto;
  }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 62.13rem;
  }

  main {
    width: 100%;
  }

  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 91.1vh;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 4rem;
    height: 91.1vh;
    padding-top: 15vh;
    gap: 4rem;
    background-color: var(--secondary-color);
  }

  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 3.5vw;
  }

  aside ul li img {
    width: 100%;
    height: auto
  }

  aside p {
    -webkit-transform: rotate(-90deg) translateX(-4.31rem);
        -ms-transform: rotate(-90deg) translateX(-4.31rem);
            transform: rotate(-90deg) translateX(-4.31rem);
    color: #ffffff;
    font-size: .75rem;
    white-space: nowrap;
  }

  .dashboard-container {
    padding: 4.25rem 5.63rem 5.38rem 6.69rem;
  }

  .greetings {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  h2 span {
    color: var(--primary-color)
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .barchart-container {
    width: 63.11%;
    height: 34.3vh;
    background-color: var(--third-color);
  }

  .barchart-container h4 {
    padding-top: 2.57vh;
    padding-left: 2.42vw;
  }