@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #FF0000;
    --secondary-color: #020203;
    --third-color: #FBFBFB;
    --test-color: #ff0101c4;
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    width: 100%;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-right: 4.04rem;
    padding-left: 1.24rem;
    font-size: 1.14rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    height: 4.33rem;
  }

  .logo img {
    height: 2.75rem;
    width: auto;
  }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 44.18rem;
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main {
    width: 100%;
  }

  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5.2rem;
    padding-top: 12.19rem;
    padding-bottom: 2.81rem;
    gap: 14.56rem; /*à modifier*/ 
    background-color: var(--secondary-color);
  }

  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 2.85rem;
  }

  aside ul li img {
    width: 100%;
    height: auto
  }

  aside p {
    -webkit-transform: rotate(-90deg) translateX(-3.29rem);
        -ms-transform: rotate(-90deg) translateX(-3.29rem);
            transform: rotate(-90deg) translateX(-3.29rem);
    color: #ffffff;
    font-size: .53rem;
    white-space: nowrap;
  }

  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3.24rem 4rem 4.09rem 4.76rem;
  }

  .greetings {
    margin-bottom: 3.67rem;
  }

  .greetings h2 {
    font-size: 2.29rem;
    font-weight: 500;
    margin-bottom: 1.95rem;
  }

  .greetings h2 span {
    color: var(--primary-color)
  }

  .greetings h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .barchart-container {
    width: 37.11rem;
    height: 15.23rem;
    background-color: var(--third-color);
    border-radius: .31rem;
  }

  .barchart-container h4 {
    font-size: .71rem;
    padding-top: 1.14rem;
    padding-left: 1.42rem;
  }

  .custom-tooltip_barchart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    padding-top: .70rem;
    font-size: .44rem;
    color: #ffffff;
  }

  .square-charts_container {
    width: 37.07rem;
    height: 12.62rem;
    margin-top: 3.31rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.33rem
  }

  .linechart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 11.47rem;
    height: 12.62rem;
    background-color: var(--primary-color);
    border-radius: .31rem;
  }

  .linechart-container h4 {
    -ms-flex-item-align: start;
        align-self: start;
    padding-top: 1.38rem;
    padding-left: 1.51rem;
    width: 6.58rem;
    color: #ffffff8e;
    font-size: 0.71rem
  }

  .linechart-graph {
    height: 9.61rem;
    width: 10.31rem;
  }

  .custom-tooltip_linechart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.5rem;
    font-size: .5rem;
    color: #000000;
  }

  .radarchart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 11.47rem;
    height: 12.62rem;
    border-radius: .31rem;
    background-color: #282D30;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 7px;
  }

  .piechart-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 11.47rem;
    height: 12.62rem;
    background-color: #FBFBFB;
    border-radius: .31rem;
    /*padding: 24px*/
  }

  .piechart-container h4 {
    position: absolute;
    top: 1.14rem;
    left: 1.33rem;
    font-size: .71rem;
  }

  .piechart-legend {
    position: absolute;
    top: 5.10rem;
    text-align: center;
    z-index: 2;
    font-size: 1.1rem;
    color: #282D30;
  }

  .piechart-legend p {
    font-size: .76rem;
    color: #74798C;
  }

  .intake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 9.6rem;
    margin-left: 1.38rem;
  }

  .intake-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intake__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  /*wireframes dimensions : 1440 x 1024 px*/
  @media only screen and (min-width: 1440px) and (min-height: 1024px) {
    nav {
      padding-right: 5.5rem;
      padding-left: 1.75rem;
      font-size: 1.5rem;
      height: 5.69rem;
    }

    .logo img {
      height: 3.81rem;
    }

    .navigation {
      width: 62.13rem;
    }

    .container {
      height: 58.31rem;
    }

    aside {
      width: 7.31rem;
      padding-top: 16rem; 
      gap: 14.56rem; /*à modifier*/ 
      background-color: var(--secondary-color);
    }

    aside ul {
      width: 4rem;
    }

    aside p {
      -webkit-transform: rotate(-90deg) translateX(-4.31rem);
          -ms-transform: rotate(-90deg) translateX(-4.31rem);
              transform: rotate(-90deg) translateX(-4.31rem);
      font-size: .75rem;
    }

    .dashboard-container {
      padding: 4.25rem 5.63rem 5.38rem 6.69rem;
    }
}