@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #FF0000;
    --secondary-color: #020203;
    --third-color: #FBFBFB;
    --test-color: #ff000016;
    --main-radius: .31rem;
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    width: 100%;
    height: 8.89vh;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 6.32%;
    padding-left: 1.94%;
    background-color: var(--secondary-color);
    color: #ffffff;
  }

  .logo img {
    height: 5.95vh;
    width: auto;
  }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 69.03%;
    font-size: 1rem;
  }

  /**********************************************************************/

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
    height: 91.11328125vh;
    /*overflow: hidden;*/
  }

  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }

  main {
    width: 91.875%;
    height: 100%;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 8.13%;
    height: 100%;
    padding-top: 28vh;
    gap: 18vh;
    background-color: var(--secondary-color);
  }

  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 54.7%;
  }

  aside ul li img {
    width: 100%;
    height: auto
  }

  aside p {
    -webkit-transform: rotate(-90deg) translateX(-3.29rem);
        -ms-transform: rotate(-90deg) translateX(-3.29rem);
            transform: rotate(-90deg) translateX(-3.29rem);
    color: #ffffff;
    font-size: .53rem;
    white-space: nowrap;
  }

  .dashboard-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6.44vh;
    padding-right: 6.802721088435374%;
    padding-bottom: 8.39vh;
    padding-left: 8.087679516250945%;
    /*min-width: 50.044rem;*/
    width: 100%;
    height: 100%;
    gap: 2.758007117437722%
  }

  .greetings {
    margin-bottom: 7.51953125vh;
  }

  .greetings h2 {
    font-size: 2.29rem;
    font-weight: 500;
    margin-bottom: 4.00390625vh;
  }

  .greetings h2 span {
    color: var(--primary-color)
  }

  .greetings h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .charts {
    width: 100%;
    min-width: 37.111rem;
  }

  .barchart-container {
    width: 100%;
    height: 31.25vh;
    background-color: var(--third-color);
    border-radius: var(--main-radius);
  }

  .barchart-container h4 {
    font-size: .71rem;
    padding-top: 2.34375vh;
    padding-left: 3.832335329341317%;
    margin-bottom: 6.25vh;
  }

  .custom-tooltip_barchart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    padding-top: .70rem;
    font-size: .44rem;
    color: #ffffff;
  }

  .square-charts_container {
    width: 100%;
    height: 22.29vh;
    margin-top: 2.9296875vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.592814371257485%;
  }

  .square-chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30.89820359281437%;
    height: 100%;
    border-radius: var(--main-radius);
  }

  .linechart-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--primary-color);
  }

  .linechart-container h4 {
    -ms-flex-item-align: start;
        align-self: start;
    padding-top: 2.83203125vh;
    padding-left: 13.17829457364341%;
    width: 57.36434108527132%;
    color: #ffffff8e;
    font-size: 0.5rem
  }

  .linechart-graph {
    height: 16.5751953125vh;
    width: 88.75968992248062%;
  }

  .custom-tooltip_linechart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.5rem;
    font-size: .5rem;
    color: #000000;
  }

  .radarchart-container {
    padding-right: .69rem;
    background-color: #282D30;
    color: #ffffff;
    text-transform: capitalize;
    font-size: .44rem;
  }

  .piechart-container {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FBFBFB
  }

  .piechart-container h4 {
    position: absolute;
    top: 9.125475285171103%;
    left: 11.62790697674419%;
    font-size: .71rem;
  }

  .piechart-legend {
    position: absolute;
    top: 40.74904942965779%;
    text-align: center;
    z-index: 2;
    font-size: 1.1rem;
    color: #282D30;
  }

  .piechart-legend p {
    font-size: .76rem;
    color: #74798C;
  }

  .intake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 22.95373665480427%;
    gap: 3.3vh;
  }

  .intake-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 96.4203233256351%;
    height: 11.7vh;
    background-color: #FBFBFB;
    border-radius: var(--main-radius);
    padding: 1.42rem;
  }

  .intake-img__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30.25581395348837%;
    height: 70.387097%;
    border-radius: .38rem;
  }

  .intake-img-energy {
    width: 0.7rem;
    height: 0.95rem;
  }

  .intake-img-energy__background {
    background-color: rgba(255, 0, 0, .06);
  }

  .intake-img-proteins {
    width: 0.84rem;
    height: 0.89rem;
  }

  .intake-img-proteins__background {
    background-color: rgba(74, 184, 255, 0.1);
  }

  .intake-img-carb {
    width: 0.75rem;
    height: 0.95rem;
  }

  .intake-img-carb__background {
    background-color: rgba(249, 206, 35, 0.1);
  }

  .intake-img-lipid {
    width: 0.89rem;
    height: 0.89rem;
  }

  .intake-img-lipid__background {
    background-color: rgba(253, 81, 129, 0.1);
  }

  .intake-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intake-text__value {
    font-size: .8rem;
    font-weight: bold;
  }

  .intake-text__type {
    font-size: .67rem;
  }

@media only screen and (min-width: 1101px) {
  aside {
    padding-top: 26vh;
    gap: 16vh
  }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
  aside{
    gap: 17vh
  }
  aside p {
    font-size: .6rem;
  }
  .greetings {
    margin-bottom: 6.519531vh;
  }
  .greetings h2 {
    margin-bottom: 3.003906vh;
  }
  .barchart-container {
    height: 29.25vh
  }
  .square-charts_container {
    height: 25.879063vh;
    gap: 4.592814%;
  }
  .linechart-container h4 {
    font-size: .75rem;
  }
  .radarchart-container {
    padding-right: .69rem;
    font-size: .55rem;
  }
  .piechart-container h4 {
    font-size: .75rem;
  }
  .intake {
    gap: 3.9vh;
  }
}

@media only screen and (min-width: 1440px) and (min-height: 900px) {
  aside p {
    font-size: .75rem;
  }
}

@media only screen and (min-width: 1536px) and (min-height: 864px) {
  .intake {
    width: 27.953737%;
  }
  .intake-img__background {
    height: 60.387097%;
  }
  .intake-img-energy {
    width: 1rem;
    height: 1.25rem;
  }
  .intake-img-proteins {
    width: 1.24rem;
    height: 1.29rem;
  }
  .intake-img-carb {
    width: 1.05rem;
    height: 1.25rem;
  }
  .intake-img-lipid {
    width: 1.19rem;
    height: 1.19rem;
  }
}

@media only screen and (min-width: 1600px) and (min-height: 900px) {
  .navigation {
    font-size: 1.3rem;
  }
  .square-charts_container {
    gap: 5.592814%;
  }
  .greetings h2 {
    font-size: 2.5rem;
  }
  .greetings h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .barchart-container h4 {
    font-size: 1rem;
  }
  .intake-text__value {
    font-size: 1rem;
  }
  .intake-text__type {
    font-size: .75rem;
  }
}

/*@media only screen and (min-width: 1920px) and (min-height: 1080px) {}*/





